body{ background:#F0F2F3;}
.cell_pic{ width: 42px; height: 42px; display: block;}
.page-header{ padding: 12px 0 0 0;}
.page-title{ font-size: 18px; color: #333;}
.weui_tab_bd .weui_tab_bd_item{ width: 100%;}
.app_cell_icon{font-size:16px; line-height: 20px;}
.app_iteam{ position: relative; border-top: 1px solid #D9D9D9;}
.app_iteam .weui_cell{padding:10px 15px;}
.app_iteam:first-child{border-top: none;}
.app_iteam .weui_btn{ position: absolute; top: 10px; right:10px; z-index:8; }
.app_cell .weui_cell_title{ font-size:16px; line-height: 20px; font-weight: normal; }
.app_cell .ui-badge{ font-size:12px;}
.app_cell .pic{ width: 24px; height: 24px; position: absolute; left: 8px; top: 10px;}
.app_cell .weui_cell_desc{ width:100%; font-size:14px;}
.app_cell .weui_cell_bd{ width: 100%;}
.weui_cell_desc .desc_info{ white-space: nowrap;}

.bg_sesion{ background:#fff;}
.nopadTop{ padding-top:0;}
.conTitle{ background:#fff;}
.conTitle .small{ font-size: 12px; color: #787878;}
.conTitle .small .smIcon{ font-size: 16px; line-height:initial;}

.companyTab.weui_tab,
.companyTab .weui_tab_bd{ height: auto; background:#fff;}
.companyTab .weui_navbar_item{ background:#fff;}
.companyTab .weui_bar_item_on{ background:#fff; color: #0060BF; font-weight: bold;}

.companyInfo{ padding:15px 10px 30px 10px;}
.companyInfo .iteam{ padding:6px 0 6px 0; border-bottom:1px #eee dotted;}
.companyInfo .columName,
.companyInfo .columCon{ display: inline-block; vertical-align: top;}
.companyInfo .columName{ width:40%; color:#666; text-align: left; padding-left:10px; }
.companyInfo .columCon{ width:53%;}


.companyTab2{padding:5px 15px; }
.companyTitle{background-color:#CECECE;color: #ffffff; font-weight: bold; }
.companyTab2 span,.companyTitle .tab3item1,.companyTitle .tab3item2{display: inline-block; } 
 .item1{width:30%;}
 .item2{width:25%; }
  .item3{width:45%; }
 .tab3item1{width:100%; text-align:left;}
  .companysite{vertical-align: top;}
 
