<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>沈阳天牛家具有限公司-微门户</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/apps.css">
<!--[if lt IE 9]>
  <script src="../js/html5shiv.min.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- <div class="topwrap">
	<div class="container text-right">
		<a href="###" class="btn btn-primary">保存</a>&nbsp;&nbsp;
		<a href="###" class="btn btn-darkblue">退出</a>
	</div>
</div> -->
<a name="top" id="top"></a>
<div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="###" class="navbar-brand">沈阳天牛家具有限公司</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0)">首页</a>
        </li>
        <li class="active">
          <a href="#aboutUs">公司简介</a>
        </li>
        <li>
          <a href="#givenMsg">供需信息</a>
        </li>
        <li>
          <a href="#comanyPic">公司相册</a>
        </li>
        <li>
          <a href="#contactUs">联系我们</a>
        </li>
      </ul>
      
    </nav>
</div>
<div class="container">
	<div class="banner">
		<img src="../images/banner.png" class="img-responsive">
	</div>
</div>
<div class="container">
	<a  name="aboutUs" id="aboutUs" ></a>
	<h2 class="page-header">公司简介</h2>
	<div class="row company mergeRow">
		<div class="col-md-7 col-sm-12 ">
			<div class="infos">
			<p>沈阳天牛家具有限公司是一家从事家具零售的企业。筹建于2004-03-01，现有职工总数(5-50人)人,注册资金 1011、总资产 1011(单位万元)。自成立以来，凭借“诚信铸就品牌”的经营理念，凝聚了一批有着实力技术和管理人才的团队，发挥先进的技术、管理优势，为客户的提供了大批满意产品。</p>
			<p>沈阳天牛家具有限公司始终坚持“用户的需求，我们的追求”的服务宗旨,"管理创造价值，服务提升优势，品质至上，服务至优"是我们的发展理念。企业倍加珍惜每一分荣誉，坚持"质量第一、用户至上、以质兴业、以优取胜"的经营宗旨，不断将优秀产品贡献社会，与社会各界优势互补、同创辉煌!</p>
			</div>
		</div>
		<div class="col-md-5 col-sm-12 text-right">
			<img src="../images/info.png" class="infos_pic">
		</div>
	</div>
		
</div>

<div class="container">
	<a name="givenMsg" id="givenMsg" ></a>
	<h2 class="page-header">供需信息</h2>
	<div class="goodsList">
		<a href="javascript:void(0);" class="goodsCenter"  data-toggle="modal" data-target=".productModal"> 
			<p class="goodsIteam">
				<span><img src="../images/temp/1.jpg" class="img-responsive"></span>
			</p>
			<p class="name"><span class="col-blue">[供]</span>小型空气加热器</p>
		</a>
		<a href="javascript:void(0);" class="goodsCenter"  data-toggle="modal" data-target=".productModal"> 
			<p class="goodsIteam">
				<span><img src="../images/temp/2.jpg" class="img-responsive"></span>
			</p>
			<p class="name"><span class="col-blue">[供]</span>家庭装饰盆栽</p>
		</a>
		<a href="javascript:void(0);" class="goodsCenter"  data-toggle="modal" data-target=".productModal"> 
			<p class="goodsIteam">
				<span><img src="../images/temp/3.jpg" class="img-responsive"></span>
			</p>
			<p class="name"><span class="col-blue">[供]</span>榻榻米电加热管线</p>
		</a>
		<a href="javascript:void(0);" class="goodsCenter"  data-toggle="modal" data-target=".productModal"> 
			<p class="goodsIteam">
				<span><img src="../images/temp/4.jpg" class="img-responsive"></span>
			</p>
			<p class="name"><span class="col-blue">[供]</span>庭院木板定制</p>
		</a>
		<a href="javascript:void(0);" class="goodsCenter"  data-toggle="modal" data-target=".productModal"> 
			<p class="goodsIteam">
				<span><img src="../images/temp/5.jpg" class="img-responsive"></span>
			</p>
			<p class="name"><span class="col-blue">[供]</span>电磁感应加热器</p>
		</a>
	</div>
	
</div>
<div class="container" name="comanyPic">
	<a name="comanyPic" id="comanyPic" ></a>
	<h2 class="page-header">公司相册</h2>
	<div class="comanyList">
		<div class="companyCenter">
			<a href="../images/c1.png" class="companyIteam" rel="lightbox[roadtrip]">
				<span><img src="../images/c1.png" class="img-responsive"></span>
			</a>
		</div>
		<div class="companyCenter">
			<a href="../images/c2.png" class="companyIteam" rel="lightbox[roadtrip]">
				<span><img src="../images/c2.png" class="img-responsive"></span>
			</a>
		</div>
		<div class="companyCenter">
			<a href="../images/c3.png" class="companyIteam" rel="lightbox[roadtrip]"><span><img src="../images/c3.png" class="img-responsive"></span></a>
		</div>
		<div class="companyCenter">
			<a href="../images/c4.png" class="companyIteam" rel="lightbox[roadtrip]"><span><img src="../images/c4.png" class="img-responsive"></span></a>
		</div>
		<div class="companyCenter">
			<a href="../images/c1.png" class="companyIteam" rel="lightbox[roadtrip]">
				<span><img src="../images/c5.png" class="img-responsive"></span>
			</a>
		</div>
				
	</div>
		
</div>

<div class="container" name="contactUs">
	<a name="contactUs" id="contactUs" ></a>
	<h2 class="page-header">联系我们</h2>
	<div class="row contactBox mergeRow">
		<div class="col-md-6">
			<div class="map" style="width: 90%; height: 260px;">
				<div id="container" 
		            style=" width: 100%;   height: 100%;  margin:0 0 auto;
		                border: 1px solid gray;
		                overflow:hidden;">
		        </div>
			</div>		</div>
		<div class="col-md-6">
			<ul class="contactUl">
				<li><span class="name">联 系 人：</span>王大力</li>
				<li><span class="name">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</span>13940058902</li>
				
				<li><span class="name">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：</span>800-400-4568</li>
				<li><span class="name">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：</span>110000</li>
				<li><span class="name">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>沈阳经济技术开发区星海路18号</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="footer text-center">
		copyRight &copy; 铁西(开发区)工业云
	</div>
</div>

<div class="go_back_top">
	<a href="#top"><img src="../images/up.png"></a>	
</div>

<!--模态窗口商品展示-->
<div id="productModal" class="modal fade productModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modalInfo">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">供需信息</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-md-4 col-sm-12">
      			<div class="pics">
      				<img src="../images/temp/1.jpg" class="img-responsive">
      			</div>
      		</div>
      		<div class="col-md-8 col-sm-12">
      			<ul class="modalInfoUl">
							<li><span class="name">名称：</span>小型空气加热器</li>
							<li><span class="name">合作方式：</span> 面议</li>
							<li><span class="name">品牌/型号：</span>丰顺/非标</li>
							<li><span class="name">最小采购量：</span>不限</li>
							<li><span class="name">供应商：</span>江苏盐城丰顺机械设备有限公司</li>
							<li><span class="name">价格：</span>面议</li>
							
						</ul>
      		</div>
      	</div>
      	<div class="details">
      		<div class="line"><img src="../images/line.png" class="img-responsive"></div>
      		<div class="extCon">
      			<p>空气电加热器(空气加热器)是专供燃煤发电厂除灰系统使用的新型加热设备，适用于电站空气输送斜槽气化风加热、电除尘器灰斗气化风和灰库气化风加热等方面。该设备由空气电加热器本体和控制系统两部分组成。发热元件采用1Cr18Ni9Ti不锈钢管作保护套管，0Cr27Al7MO2高温电阻合金丝、结晶氧化镁粉，经压缩工艺成型。</p>
      				<p>
      				控制部分采用先进的数字电路、集成电路触发器、高反压可控硅等组成可调测温、恒温系统，保证了电加热器的正常运行。 发热元件采用直管型取代U形结构，采用专用钣手可方便安装和拆卸。 电热管导热性好，绝缘性优，在加热器内部设有导流板，加热均匀。 空气电加热器控制柜与气化风机间具备连锁控制功能和就地控制及远传控制接口，当设备突然停机后重新启动时，控制柜可自动平滑调整。</p>
      			<p><img src="../images/temp/c1.jpg"></p>
      			<p><img src="../images/temp/c2.jpg"></p>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<link href="../js/lightbox/lightbox.min.css" rel="stylesheet" type="text/css">
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/lightbox/lightbox.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
    var map = new BMap.Map("container");
    map.centerAndZoom("沈阳", 12);
    map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    map.addControl(new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));   //右下角，打开

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小
    //map.clearOverlays();//清空原来的标注
	var keyword = '沈阳天牛家具有限公司';
    localSearch.setSearchCompleteCallback(function (searchResult) {
        var poi = searchResult.getPoi(0);
        if(poi == "undefined") return;
        //document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
        map.centerAndZoom(poi.point, 13);
        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
        map.addOverlay(marker);
        //var content = document.getElementById("text_").value + "<br/><br/>经度：" + poi.point.lng + "<br/>纬度：" + poi.point.lat;
        var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + keyword + "</p>");
        marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
        marker.openInfoWindow(infoWindow);
        // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    });
    localSearch.search(keyword);
</script>
</body>
</html>
